<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://zbys265321.oss-cn-beijing.aliyuncs.com/Z%EF%BC%8B%E5%9B%BD%E9%99%85%E6%95%B0%E5%AD%97%E4%B8%AD%E5%BF%83.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://zbys265321.oss-cn-beijing.aliyuncs.com/Z%2BInternational.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://zbys265321.oss-cn-beijing.aliyuncs.com/Z%2BInternational.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.sddjhh.cn</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Z+国际数字中心 App download</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>